@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<p>This page is publically accessible</p>
<p>The Private page requires authentication and authorization.</p>